version: '3.8'

services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: tunel_do_tempo_backend
    restart: unless-stopped
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db
    networks:
      - tunel-network

  web:
    image: nginx:alpine
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - tunel-network

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tunel
      MYSQL_USER: tunel_user
      MYSQL_PASSWORD: tunel_pass
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - tunel-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: tunel_do_tempo_frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    networks:
      - tunel-network

networks:
  tunel-network:

volumes:
  db_data:
